<form (submit)="submitForm()">
  <div class="category-form">
    <div>
      <mat-label> Name:</mat-label>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="name" name="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-label> Desc:</mat-label>
      <mat-form-field>
        <input
          matInput
          placeholder="description"
          [(ngModel)]="description"
          name="description"
        />
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" *ngIf="flag">Submit</button>
  </div>
</form>
