<app-header></app-header> <router-outlet></router-outlet>
<div class="navigate-button" class="button">
  <!-- <a routerLink="/product" class="mat-button">Add New Product</a> -->
  <button mat-raised-button color="primary" routerLink="/product">
    Add New Product
  </button>
  <button mat-raised-button color="primary" routerLink="/category">
    Add New Category
  </button>
  <button mat-raised-button color="primary" routerLink="/productdetails">
    View All Products
  </button>
  <button mat-raised-button color="primary" routerLink="/categorydetails">
    View All Categories
  </button>
</div>
<div class="navigate-button">
  <!-- <a routerLink="/category" class="mat-button">Add New Category</a> -->
</div>
<app-footer></app-footer>
