<form (submit)="submitForm()">
  <div class="product-form">
    <div>
      <mat-form-field>
        Name:
        <input matInput placeholder="Name" [(ngModel)]="name" name="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        Desc:
        <input
          matInput
          placeholder="description"
          [(ngModel)]="description"
          name="description"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        Price:
        <input matInput placeholder="price" [(ngModel)]="price" name="name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
        >Stock:
        <input matInput placeholder="stock" [(ngModel)]="stock" name="stock" />
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" *ngIf="flag">Submit</button>
  </div>
</form>
